@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Righteous&display=swap');

:root {
  --font-primary: #1e293b;
  --font-secondary: #334155;
  --font-soft: #9ca3af;
  --background: #f1f5f9;
  --card: #ffffff;
  --border: #9ca3af;
  --border-light: #e5e7eb;

  --green: #10b981;
  --light-green: #dcfce7;
  --yellow: #f59e0b;
  --light-yellow: #fef9c3;
  --red: #ef4444;
  --light-red: #fee2e2;
  --purple: #6366f1;
  --light-purple: #e0e7ff;
  --blue: #60a5fa;
  --light-blue: #7dd3fc;

  --card-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  --card-border-radius: 1rem;
  --transition: 300ms;
}

.dark-theme {
  --font-primary: #fafafa;
  --font-secondary: #e4e4e4;
  --font-soft: #9ca3af;
  --background: #111827;
  --card: #1f2937;
  --border: #374151;
  --border-light: #374151;

  #logo-container {
    img {
      filter: brightness(0.9);
    }
  }
}

* {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;

  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

button {
  background-color: transparent;
  cursor: pointer;

  &:focus-visible {
    outline: 3px solid var(--light-blue);
  }

  &:disabled {
    cursor: not-allowed;
    filter: opacity(0.75);
  }
}

a {
  text-decoration: none;

  &:visited {
    color: unset;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div,
label {
  color: var(--font-primary);
}

h1,
h2,
h3 {
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

b {
  font-weight: 700;
}

#mainWindow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;

  padding: 1rem;
  padding-top: 6rem;

  overflow-x: auto;
}

#appWrapper {
  display: flex;
  flex-direction: row;
}

.ambientFormContainer {
  width: 80%;
  padding: 1rem;
}

#floatingNotificationsContainer {
  position: fixed;
  top: 6rem;
  right: 2rem;
  max-width: 50vw;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 30;
}

/*/ Scroll Bar  /*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--card);
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 0.5rem;

  &:hover {
    background: #52525b;
  }
}
