/*
  Buttons
*/

.button {
  padding: 0.5rem 0.75rem;
  border-radius: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 0.5rem;
  }

  &.is-default {
    background-color: var(--blue);
    color: var(--background);

    &:hover {
      outline: 3px solid var(--blue-outline);
    }
  }

  &.is-secondary {
    background-color: var(--card-bg);
    color: var(--title-secondary);

    &:hover {
      outline: 3px solid var(--fade);
    }
  }
}

/*
  Forms group
*/

.form-row {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 100%;

  label {
    margin-bottom: 0.25rem;
  }

  input,
  select {
    padding: 0.5rem;
    border-radius: 0.35rem;

    &:focus-visible {
      outline: 3px solid var(--blue-outline);
    }
  }

  small {
    font-size: 0.85rem;
    margin-top: 0.3rem;
    color: var(--title-info);
  }
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.info-blip {
  border: 1px solid var(--blue);
  color: var(--blue);
  background-color: var(--light-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 0.5rem;
  }

  &.has-success {
    background-color: var(--light-green);
    color: var(--green);
    border: 1px solid var(--green);
  }

  &.has-error {
    background-color: var(--light-red);
    color: var(--red);
    border: 1px solid var(--red);
  }

  &.has-warning {
    background-color: var(--light-yellow);
    color: var(--yellow);
    border: 1px solid var(--yellow);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 1s linear infinite;
}
