.ambient-item-container {
  background-color: var(--background);
  color: var(--title);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border-radius: 0.75rem;

  text-decoration: none;
  transition: transform 300ms;
  background-color: var(--card-bg);
  border: 2px solid var(--border);

  &:active {
    transform: scale(75%);
  }

  &.is-expanded {
    font-weight: normal;
  }
}
