#createAmbientButton {
  border: 2px dashed var(--fade);
  color: var(--fade);
  width: 100%;
  display: flex;
  text-decoration: none;

  margin: 1rem 0;

  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 300ms;

  &:hover {
    opacity: 1;
  }
}
