.createEnvironmentButton {
  border: 2px dashed var(--border-light);
  color: var(--border-light);
  display: flex;
  text-decoration: none;

  border-radius: 0.75rem;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);

  &:hover {
    border: 2px dashed var(--border);
    color: var(--border);
  }

  &:active {
    transform: scale(90%);
  }

  &.is-expanded {
    border: 2px dashed var(--border);
    color: var(--border);
    height: inherit;
    min-height: 100%;
    padding: 2rem;

    margin-right: 2rem;

    &:hover {
      box-shadow: var(--card-shadow);
    }
  }
}
