#environment-services {
  .service-list {
    display: flex;
    flex-direction: column;

    .service-item {
      display: flex;
      justify-content: space-between;

      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 2px solid var(--border-light);

      .service-name {
        font-size: 0.9rem;
      }

      .service-status {
        font-size: 0.6rem;
        text-transform: uppercase;

        .status-indicator {
          margin-left: 0.25rem;

          &::before {
            content: '';

            height: 0.5rem;
            width: 0.5rem;
            border-radius: 100%;
            display: inline-block;
            background-color: #a7a7a7;
          }
        }

        &.is-operational {
          color: var(--green);
          .status-indicator {
            &::before {
              background-color: var(--green);
            }
          }
        }
        &.is-unused {
          color: var(--purple);
          .status-indicator {
            &::before {
              background-color: var(--purple);
            }
          }
        }
        &.is-failed {
          color: var(--red);
          .status-indicator {
            &::before {
              background-color: var(--red);
            }
          }
        }
      }
    }
  }
}
