.floatingNotificationContainer {
  width: 100%;
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);

  display: flex;

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;

    svg {
      font-size: 1.5rem;
    }
  }

  .messageContainer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card);
    border-radius: 0 1rem 1rem 0;

    max-height: 10rem;
    overflow-y: auto;

    color: var(--font-primary);
  }

  .closeButtonContainer {
    background-color: var(--background);
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
  }

  &.has-info {
    border: 2px solid var(--purple);
    .iconContainer {
      background-color: var(--light-purple);
      color: var(--purple);
    }
  }

  &.has-success {
    border: 2px solid var(--green);
    .iconContainer {
      background-color: var(--light-green);
      color: var(--green);
    }
  }

  &.has-warning {
    border: 2px solid var(--yellow);
    .iconContainer {
      background-color: var(--light-yellow);
      color: var(--yellow);
    }
  }

  &.has-error {
    border: 2px solid var(--red);
    .iconContainer {
      background-color: var(--light-red);
      color: var(--red);
    }
  }
}
