#sidebarFooter {
  height: 4rem;

  box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.03);
  background-color: var(--card-shadow);

  display: flex;
  justify-content: space-around;

  a,
  button {
    width: 4rem;
    transition: background-color 300ms;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 1.6rem;
      color: var(--title-info);
    }

    &:hover {
      background-color: var(--card-bg);
      cursor: pointer;
    }
  }
}
