.small-tag {
  padding: 0.1rem 0.4rem;
  font-size: 0.75rem;
  background-color: var(--light-green);
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 0.25rem;
  width: fit-content;
}
