.spinner-loader {
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid var(--font-soft);
  border-bottom-color: var(--brand-medium);
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
