#sidebarContainer {
  background-color: #fff;
  height: 100vh;
  width: 23rem;
  box-shadow: 4px 0px 40px rgba(0, 0, 0, 0.03);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  #navbarContent {
    padding: 1rem;
  }

  #navbarFooter {
    //
  }
}
