.card {
  &.environment-status-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 28rem;

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: 0.5rem;
    }

    .body {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;

      .status-message {
        h3 {
          margin-bottom: 0.25rem;
          font-size: 2rem;
          font-weight: bold;
        }

        span {
          color: var(--font-soft);
          font-size: 0.9rem;
        }
      }

      .status-icon {
        color: #fff;
        background-color: var(--green);
        padding: 1rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem;

        min-width: fit-content;

        // &.breathe {
        //   // TODO: Add breathe animation
        // }

        &.has-warning {
          background-color: var(--yellow);
        }

        &.has-danger {
          background-color: var(--red);
        }

        svg {
          font-size: 3rem;
        }
      }
    }

    .footer {
      span {
        color: var(--font-soft);
        font-size: 0.8rem;
      }
    }
  }

  &.system-resource-card {
    height: 100%;
    min-width: 12rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: 0.5rem;
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-top: 0.5rem;

      h3 {
        margin: 0;
        font-size: 1.75rem;
        font-weight: bold;
      }
    }
  }
}
