.environment-status-summary-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;

  .title {
    margin-bottom: 0.5rem;

    span {
      font-size: 0.8rem;
      color: var(--font-soft);
      margin-left: 0.5rem;
    }
  }
  .components-container {
    display: flex;

    justify-content: space-between;
    gap: 1rem;

    .system-resources {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      height: 100%;
    }

    .card {
      background: var(--card);
      box-shadow: var(--card-shadow);
      border-radius: var(--card-border-radius-md);

      padding: 1rem;
    }
  }
}
