#rightButtons {
  display: flex;

  gap: 1rem;

  justify-content: center;
  align-items: center;

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }

  .optionButton {
    padding: 0.75rem;
    background-color: var(--background);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
  }
}
